<h1>New schedule!</h1>

<form action="/schedules" method="post">
    <label>Date and Time: </label>
    <input type="text" name="schedule[date]" placeholder="MM/DD/YYYY hh:mm" required><br>

    <label>Content: </label> 
    <input type="text" name="schedule[content]" required><br><br>
    <input type="submit">


</form>